<!DOCTYPE html>
<html lang="en">
    <!--HEAD-->
    
    <%- include ('../partials/head') %>  

<body>
    <!--HEADER-->

    <%- include ('../partials/header') %> 

    <!--NAV-->

    <%- include ('../partials/nav') %> 
    <main class="form-background">
        <div class="crud-main register-create-edit">
            <h2>Editar producto</h2>

            <form class="crud-form" action="/productos/editar/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">

                <div class="form-row-flex">
                    <div class="form-column">
                        <div class="form-section">
                            <label class="section-label" for="image">Adjunte una imagen: </label>
                            <input type="file" name="image" id="image" accept=".jpg, .png" value="<%= product.Images[0] %>" multiple>
                        </div>
                        <div class="form-section">
                            <label class="section-label">Producto: </label>
                            <select name="categoryId">
                                <option value="" disabled selected>- Seleccione el Producto - </option>
                                <% if (categories) {%> 
                                <% categories.forEach(category => { %> 
                                    <option value="<%=category.id%>" 
                                        <% if (locals.oldData && oldData.categoryId) { %>
                                            <%= category.id == oldData.categoryId ? "selected" : null %>
                                        <% } else { %>
                                            <%= category.name == product.Category?.name ? "selected" : null %>
                                        <% } %> 
                                        >
                                        <%=category.name%>
                                    </option>
                                <% }); %> 
                                <% } %> 
                            </select>
                        </div>
                        <div class="form-section">
                            <label class="section-label" for="typeId">Tipo de articulo: </label>
                            <select name="typeId">
                                <option value="" disabled selected>- Seleccione el Tipo - </option>
                                <% if (types) {%> 
                                <% types.forEach(type => { %> 
                                    <option value="<%=type.id%>" 
                                        <% if (locals.oldData && oldData.typeId) { %>
                                            <%= type.id == oldData.typeId ? "selected" : null %>
                                        <% } else { %>
                                            <%= type.name == product.Type?.name ? "selected" : null %>
                                        <% } %> 
                                        >
                                        <%=type.name%>
                                    </option>
                                <% }); %> 
                                <% } %> 
                            </select>
                        </div>
                        <div class="form-section">
                            <label class="section-label" for="description">Descripcion: </label>
                            <input type="text" name="description" id="description" value="<%= product.description %>" required>
                        </div>
                        <div class="form-section">
                            <label class="section-label" for="price">Precio: </label>
                            <input type="number" name="price" id="price" value="<%= product.price %>" required>
                        </div>
                        <div class="form-section">
                            <label class="section-label" for="discount">Descuento: </label>
                            <input type="number" name="discount" id="discount" value="<%= product.discount %>">
                        </div>
                        <div class="form-section">
                            <label class="section-label" for="brandId">Marca: </label>
                            <select name="brandId">
                                <option value="" disabled selected>- Seleccione la Marca - </option>
                                <% if (brands) {%> 
                                <% brands.forEach(brand => { %> 
                                    <option value="<%=brand.id%>" 
                                        <% if (locals.oldData && oldData.brandId) { %>
                                            <%= brand.id == oldData.brandId ? "selected" : null %>
                                        <% } else { %>
                                            <%= brand.name == product.Brand?.name ? "selected" : null %>
                                        <% } %> 
                                        >
                                        <%=brand.name%>
                                    </option>
                                <% }); %> 
                                <% } %> 
                            </select>
                        </div>
                    </div>

                    <div class="form-column">
                        <div class="form-section">
                            <label class="section-label" for="model">Modelo: </label>
                            <input type="text" name="model" id="model" value="<%= product.model %>">
                        </div>
                        <div class="form-section">
                            <label class="section-label" for="sizeId">Talle: </label>
                            <select name="sizeId">
                                <option value="" disabled selected>- Seleccione el Talle - </option>
                                <% if (sizes) {%> 
                                <% sizes.forEach(size => { %> 
                                    <option value="<%=size.id%>" 
                                        <% if (locals.oldData && oldData.sizeId && product.Size) { %> 
                                            <%= size.id == oldData.sizeId ? "selected" : null %>
                                        <% } else if (product.Size) { %>
                                            <%= size.name == product.Size?.name ? "selected" : null %>
                                        <% } %>
                                        >
                                        <%=size.name%>
                                    </option>
                                <% }); %> 
                                <% } %> 
                            </select>
                        </div>
                        <div class="form-section">
                            <label class="section-label" for="colorId">Color: </label>
                            <select name="colorId">
                                <option value="" disabled selected>- Seleccione el Color - </option>
                                <% if (colors) {%> 
                                <% colors.forEach(color => { %> 
                                    <option value="<%=color.id%>"  
                                        <% if (locals.oldData && oldData.colorId) { %>
                                            <%= color.id == oldData.colorId ? "selected" : null %>
                                        <% } else { %>
                                            <%= color.name == product.Color?.name ? "selected" : null %>
                                        <% } %> 
                                        >
                                        <%=color.name%>
                                    </option>
                                <% }); %> 
                                <% } %> 
                            </select>
                        </div>
                        <div class="form-section">
                            <label class="section-label" for="wheelSizeId">Rodado: </label>
                            <select name="wheelSizeId">
                                <option value="" disabled selected>- Seleccione el Rodado - </option>
                                <% if (wheelSizes) {%> 
                                <% wheelSizes.forEach(size => { %> 
                                    <option value="<%=size.id%>"  
                                        <% if (locals.oldData && oldData.wheelSizeId) { %>
                                            <%= size.id == oldData.wheelSizeId ? "selected" : null %>
                                        <% } else { %>
                                            <%= size.number == product.WheelSize?.number ? "selected" : null %>
                                        <% } %> 
                                        >
                                        <%=size.number%>
                                    </option>
                                <% }); %> 
                                <% } %> 
                            </select>
                        </div>
                        <div class="form-section">
                            <label class="section-label" for="frameId">Cuadro: </label>
                            <select name="frameId">
                                <option value="" disabled selected>- Seleccione la Estructura - </option>
                                <% if (frames) {%> 
                                <% frames.forEach(frame => { %> 
                                    <option value="<%=frame.id%>" 
                                        <% if (locals.oldData && oldData.frameId) { %>
                                            <%= frame.id == oldData.frameId ? "selected" : null %>
                                        <% } else { %>
                                            <%= frame.name == product.Frame?.name ? "selected" : null %>
                                        <% } %> 
                                        >
                                        <%=frame.name%>
                                    </option>
                                <% }); %> 
                                <% } %> 
                            </select>
                        </div>
                        <div class="form-section">
                            <label class="section-label" for="shiftId">Velocidades: </label>
                            <select name="shiftId">
                                <option value="" disabled selected>- Seleccione la cantidad de Cambios - </option>
                                <% if (shifts) {%> 
                                <% shifts.forEach(shift => { %> 
                                    <option value="<%=shift.id%>" 
                                        <% if (locals.oldData && oldData.shiftId) { %>
                                            <%= shift.id == oldData.shiftId ? "selected" : null %>
                                        <% } else { %>
                                            <%= shift.number == product.Shift?.number ? "selected" : null %>
                                        <% } %> 
                                        >
                                        <%=shift.number%>
                                    </option>
                                <% }); %> 
                                <% } %> 
                            </select>
                        </div>
                        <div class="form-section">
                            <label class="section-label" for="brakeId">Frenos: </label>
                            <select name="brakeId">
                                <option value="" disabled selected>- Seleccione el tipo de Freno - </option>
                                <% if (brakes) {%> 
                                <% brakes.forEach(brake => { %> 
                                    <option value="<%=brake.id%>" 
                                        <% if (locals.oldData && oldData.brakeId) { %>
                                            <%= brake.id == oldData.brakeId ? "selected" : null %>
                                        <% } else { %>
                                            <%= brake.type == product.Brake?.type ? "selected" : null %>
                                        <% } %> 
                                        >
                                        <%=brake.type%>
                                    </option>
                                <% }); %> 
                                <% } %> 
                            </select>
                        </div>
                        <div class="form-section">
                            <label class="section-label" for="suspensionId">Suspension: </label>
                            <select name="suspensionId">
                                <option value="" disabled selected>- Seleccione la Suspensión - </option>
                                <% if (suspentions) {%> 
                                <% suspentions.forEach(suspention => { %> 
                                    <option value="<%=suspention.id%>" 
                                        <% if (locals.oldData && oldData.suspensionId) { %>
                                            <%= suspention.id == oldData.suspensionId ? "selected" : null %>
                                        <% } else { %>
                                            <%= suspention.type == product.Suspension?.type ? "selected" : null %>
                                        <% } %> 
                                        >
                                        <%=suspention.type%>
                                    </option>
                                <% }); %> 
                                <% } %> 
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-section">
                        <label class="section-label" for="info">Info: </label>
                        <textarea name="info" id="info" cols="30" rows="10"><%= locals.oldData && oldData.info %></textarea>
                    </div>
                    <div class="button-section">
                        <button class="clear-button" type="reset">Limpiar</button>
                        <button class="submit-button" type="submit">Editar</button>
                    </div>
                </div>
            </form>
        </div>
    </main>

    <!--FOOTER-->

    <%- include('../partials/footer')  %> 
    
</body>
</html>