<!DOCTYPE html>
<html lang="en">
    <!--HEAD-->
    
    <%- include ('../partials/head') %>  

<body>
    <!--HEADER-->

    <%- include ('../partials/header') %> 

    <!--NAV-->

    <%- include ('../partials/nav') %> 

    <main>
        
        <h2 class="products">Todos los productos</h2>

        <section class="article-container" id="destacados">
            
            <% products.forEach((bici) => { %> 

                <a href="/productos/detalle/<%= bici.id %>"><article>
                    <% if(bici.discount > 0) { %> 
                    <p class="article-discount"><%= bici.discount %>% OFF</p>
                    <% } %> 
                    <% if(bici.Images[0]) { %>
                        <figure class="img-container">
                            <img src="\images\products\<%= bici.Images[0].fileName %>"  alt="imagen articulo">
                        </figure>
                    <% } else { %>
                        <figure class="img-container">
                            <img src="\images\products\default-product.jpg"  alt="imagen articulo">
                        </figure>
                    <% } %>
                    <p class="article-name"><%= bici.description %> </p>
                    <% let priceTH = toThousand(bici.price) %>
                    <p class="article-price">$ <%= priceTH %> </p>
                </article></a>
        
                <% }) %>
        
        </section>
        
    </main>

    <!--FOOTER-->

    <%- include('../partials/footer')  %> 
    
</body>
</html>