<!DOCTYPE html>
<html lang="en">
    <!--HEAD-->
    
    <%- include ('../partials/head') %>  

<body>
    <!--HEADER-->

    <%- include ('../partials/header') %> 

    <!--NAV-->

    <%- include ('../partials/nav') %> 

    <main>

        <section id="destacados">
            
            <h2 class="products">Todos los productos</h2>

            <% products.forEach((bici) => { %> 

                <a href="/productos/detalle/<%= bici.id %>"><article>
                    <% if(bici.discount > 0) { %> 
                    <p class="article-discount"><%= bici.discount %>% OFF</p>
                    <% } %> 
                    <figure class="img-container">
                        <img src="\images\<%= bici.image %>"  alt="imagen articulo">
                    </figure>
                    <p class="article-name"><%= bici.description %> </p>
                    <p class="article-price">$ <%= bici.price %> </p>
                </article></a>
        
                <% }) %>
        
        </section>
        
    </main>

    <!--FOOTER-->

    <%- include('../partials/footer')  %> 
    
</body>
</html>