<!DOCTYPE html>
<html lang="en">
    <!--HEAD-->
    
    <%- include ('../partials/head') %>  

<body>
    <!--HEADER-->

    <%- include ('../partials/header') %> 

    <!--NAV-->

    <%- include ('../partials/nav') %> 

    <main>

        <div class="slider-container">
            <div class="slide" id="slide-1">
                <div class="slider-img" ><img src="\images\slide-mobile-1.jpg" alt="slide-1"></div>
                <div class="slider-arrows">
                    <a href="#slide-2"><i class="fa-solid fa-angle-left"></i></a>
                    <a href="#slide-2"><i class="fa-solid fa-angle-right"></i></a>
                </div>
            </div>
            <div class="slide" id="slide-2">
                <div class="slider-img" ><img src="\images\slide-mobile-2.jpg" alt="slide-2"></div>
                <div class="slider-arrows">
                    <a href="#slide-1"><i class="fa-solid fa-angle-left"></i></a>
                    <a href="#slide-1"><i class="fa-solid fa-angle-right"></i></a>
                </div>
            </div>
            </div> 
        </div>
        <div id="slider-points">
            <a href="#slide-1"><i class="fa-solid fa-circle"></i></a>
            <a href="#slide-2"><i class="fa-solid fa-circle"></i></a>
        </div>

        <h2>Destacados</h2>

        <section class="article-container" id="destacados">
            
            <% bicisMtb.forEach((bici) => { %> 

                <a href="/productos/detalle/<%= bici.id %>"><article>
                    <% if(bici.discount > 0) { %> 
                    <p class="article-discount"><%= bici.discount %>% OFF</p>
                    <% } %> 
                    <figure class="img-container">
                        <img src="\images\<%= bici.image %>"  alt="imagen articulo">
                    </figure>
                    <p class="article-name"><%= bici.description %> </p>
                    <p class="article-price">$ <%= bici.price %> </p>
                </article></a>
        
                <% }) %>
        
        </section>
        
    </main>

    <!--FOOTER-->

    <%- include('../partials/footer')  %> 
    
</body>
</html>