<!DOCTYPE html>
<html lang="en">
    <!--HEAD-->
    
    <%- include ('../partials/head') %>  

<body>
    <!--HEADER-->

    <%- include ('../partials/header') %> 

    <!--NAV-->

    <%- include ('../partials/nav') %> 

    <main>

        <div class="slider-container">
            <div class="slide" id="slide-1">
                <div class="slider-img" ><img src="\images\slide-mobile-1.jpg" alt="slide-1"></div>
                <div class="slider-arrows">
                    <a href="#slide-2"><i class="fa-solid fa-angle-left"></i></a>
                    <a href="#slide-2"><i class="fa-solid fa-angle-right"></i></a>
                </div>
            </div>
            <div class="slide" id="slide-2">
                <div class="slider-img" ><img src="\images\slide-mobile-2.jpg" alt="slide-2"></div>
                <div class="slider-arrows">
                    <a href="#slide-1"><i class="fa-solid fa-angle-left"></i></a>
                    <a href="#slide-1"><i class="fa-solid fa-angle-right"></i></a>
                </div>
            </div>
            </div> 
        </div>
        <div id="slider-points">
            <a href="#slide-1"><i class="fa-solid fa-circle"></i></a>
            <a href="#slide-2"><i class="fa-solid fa-circle"></i></a>
        </div>

        <h2>Destacados</h2>

        <section class="article-container" id="destacados">
            
            <% products.forEach((product) => { %> 

                <a href="/productos/detalle/<%= product.id %>"><article>
                    <% if(product.discount > 0) { %> 
                    <p class="article-discount"><%= product.discount %>% OFF</p>
                    <% } else { %> 
                        <p class="space"></p>
                    <% } %>
                    <figure class="img-container">
                        <img src="\images\products\<%= product.Images[0].fileName %>"  alt="imagen articulo">
                    </figure>
                    <p class="article-name"><%= product.description %> </p>
                    <div class="price">
                        <% let price = toThousand(product.price) %>
                        <% let discountPrice = toThousand((product.price - (product.price / 100 * product.discount)).toFixed(0)) %>
                        
                        <% if (product.discount > 0) { %>  
                            <p class="article-discount-price">$ <%= price %></p>
                            <p class="article-price">$ <%= discountPrice %> </p>
                        <% } else { %>
                            <p class="article-price-nodisc">$ <%= price %> </p>
                        <% } %>
                    </div>
                </article></a>
        
                <% }) %>
        
        </section>
        
    </main>

    <!--FOOTER-->

    <%- include('../partials/footer')  %> 
    
</body>
</html>